/*AUDIO PLAYER*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    width:100%;
}

html {
    width:100%;
}


/*START OF GLOBAL*/

.footer {
    display:block;
    justify-content: center;
    align-items:center;
    margin-top:25%;
    position: absolute;
    top:0%;
    width: 90%;
    height: 20%;
    background-color:transparent;
    z-index: 100;
}



#myVideo {
    position: absolute;
    display: none; 
  }

  #myVideo2 {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:38%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }
  #myVideo31 {
    position: relative;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:0%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }
  #myVideo3 {
    position: relative;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    z-index: 2;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    margin-top:-84%;
    mix-blend-mode: difference;
  }
  #myVideoask {
    position: none;
    display: none;
  }
  #myVideoa6 {
    position: relative;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    height:auto;
    top:0%;
    z-index: -3;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
  } 
  #myVideoa4 {
    position: none;
    display: none;
  }
  #myVideoa2 {
    position: none;
    display: none;

  }
  #myVideoa3 {
    position: none;
    display: none;

  }
  #myVideo4 {
    position: relative;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:100%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    margin-bottom:0%;
    margin-top:0%;
    mix-blend-mode: difference;
  }
  #myVideo5 {
    position: absolute;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    margin-top:0%;
    mix-blend-mode: difference;
  }
  #myVideo51 {
    position: absolute;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    margin-top:0%;
  }

  #myVideo512 {
    position: absolute;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    margin-top:20%;
    mix-blend-mode: difference;
  }

  #myVideo513 {
    position: absolute;
    display: flex;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    margin-top:177.5%;
    mix-blend-mode: difference;
  }

  .artistgif {
    position: absolute;
    display: block;
    width:100%;
    max-width: 100%;
    height: auto;
    z-index: 0;
    top:0%;
  }
  .artistgif2 {
    position: absolute;
    display: block;
    width:100%;
    max-width: 100%;
    height: auto;
    z-index: 1;
    margin-top:216%;
    mix-blend-mode: difference;
  }



.aboutbackgrounds {
    width:100%;
    height:fit-content;
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0%;
    margin: 0% 0% 0% 0%;
    margin-top:0%;
    padding: 0% 0% 0% 0%;
}
.aboutbackgrounds2 {
    width:100%;
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:100%;
    margin: 0% 0% 0% 0%;
    margin-top:100%;
    padding: 0% 0% 0% 0%;
}


.gif2gif {
    width:40%;
    background-color: transparent;
    color:black;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    display:block;
    position: relative;
        z-index: 100;
    margin-left:7%;
    margin-top:2%;

}
.gif2gif:hover {
    opacity: 0.8;
    cursor: pointer;
    transition-duration: 0.5s;
}

.twothousandhead {
    width:100%;
    position: relative;
    left:5%;
    right:5%;
    top:5%;
    display: block;
}
.twothousandhead:hover {
    opacity:80%;
    transition-duration: 0.5s;
}
.tabs {
    display: inline-flex;
    width: 100%;
    position: absolute;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height:7%;
    text-align: center;
    justify-content:center;
    align-items: center;
    top:0%;
    z-index: 7;
    mix-blend-mode: difference;

}
.tab1 {
    padding:2%;
    margin-left:2%; 
    margin-right:2%; 
    padding-left:2%;
    padding-right:2%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'coolveticaregular';
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 4vw;
    text-align: center;
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    justify-self: center;
    mix-blend-mode: difference;
    z-index: 100;
    top:0;

}
.tab1:hover {
    background-color: white;
    opacity: 2;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}
.tabsabout {
    display: inline-flex;
    width: 100%;
    position: absolute;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height:7%;
    text-align: center;
    justify-content:center;
    align-items: center;
    top:0%;
    z-index: 7;
    mix-blend-mode: difference;

}
.tababout {
    padding:2%;
    margin-left:2%; 
    margin-right:2%; 
    padding-left:2%;
    padding-right:2%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'coolveticaregular';
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 4vw;
    text-align: center;
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    justify-self: center;
    mix-blend-mode: difference;
    z-index: 100;
    top:0;

}
.tababout:hover {
    background-color: white;
    opacity: 2;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}

.tab1home {
    padding:2%;
    margin:auto;
    margin-left:1%;
    margin-right:1%;
    padding-left:2%;
    padding-right:2%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'coolveticaregular';
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 4vw;
    text-align: center;
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    mix-blend-mode: difference;
    z-index: 100;
    left:0;
}
.tab1home:hover {
    background-color: white;
    color: #000000;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}
.tabshome {
    display: block;
    width: 100%;
    position: absolute;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height: 30%;
    text-align: center;
    justify-content:center;
    top:2%;
    z-index: 7;
    right:0%;
    left:0%;
    margin:0;
    mix-blend-mode: difference;
}


.home2000 {
    width: 100%;
    height:auto;
    justify-content: center;
    position: absolute;
    align-items: center;
    display:sticky;
    z-index: 5;
    mix-blend-mode: overlay;
    top:40%;
}
.home20001 {
    width:100%;
    height:100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    display:block;
    z-index: 5;
    mix-blend-mode: overlay;

}



.homediv {
    top:10%;
    display: block;
    width: 80%;
    height:10%;
    position: relative;
    z-index: 100;
    mix-blend-mode: overlay;
}

.home2000:hover {
    opacity:80%;
    transition-duration: 0.5s;
    cursor: pointer;
}






.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 0
}

.audio-player{
    flex: auto;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    text-emphasis-color: rgb(0, 0, 0);
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
}

a:visited {
    text-decoration: none;
    color:inherit;
    mix-blend-mode: difference;
}

.container:hover {
    opacity:.80;
    transition-duration: 0.5s;
}

/*END OF GLOBAL SITE*/

/*START OF GLOBAL RESPONSIVE*/

    .footer {
      width: 100%;
      top:0%;
    }

      .img-container {
        position: relative;
        display: block;
        width: fit-content;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding:0;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
      }
      
      .music-container2 {
          background-color: transparent;
          border-radius: 15%;
          display: inline-flex;
          flex-wrap: wrap;
          height:70%;
          width:70%;
          position: relative;
          margin: 100px 0;
          z-index: 100;          align-items: center;
          justify-content: center;
          border-radius: 15%;
          border-style: solid;
          border-color: #000000;
        }
      
      .img-container img {
        height: 12vh;
        width: 12vh;
        position: relative;
        top: 0;
        left: 0;
          z-index: 0;
        animation-play-state: paused;
      }
      
      .music-container.play .img-container img {
        animation-play-state: paused;
        border-style: solid;
        border-color: #000000;
      }
      
      
      .action-btn {
        background-color: transparent;
        border: 0;
        color: #ffffff;
        font-size: 2vh;
        cursor: pointer;
        padding: 30%;
        margin: 0;
        position:relative;
        z-index: 100;
      }
      
      .action-btn.action-btn-big {
        color: #ffffff;
        font-size: 3vh;
        z-index: 100;
      }
      .navigation {
        display: inline-flex;
        position: relative;
        z-index: 100;
        left:230%;
        top:15%;
      }

      .entire {
          height:fit-content;
          width:fit-content;
          display:inline-flex;
          position: relative;
          justify-content: center;
          align-items: center;
          top:-7vh;
          text-align: center;
          left:8vw;
          z-index: 100;
      }
      
      



    .music-container {
        background-color: transparent;
        border-radius: 15%;
        border-style: solid;
        border-color: #000000;
        display: block;
        flex-wrap: wrap;
        height:20%;
        width:20%;
        left:5%;
        top:22%;
        position: absolute;
        z-index: 100;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
      }

      .invertedstrip {
        background-color:rgb(255, 255, 255);
        display:inline-flex;
        width:100%;
        height:10%;
        border-radius: 0%;
        left:0%;
        position: absolute;
        z-index: 2;
        margin-left: 0%;
        margin-top: 50%;
        mix-blend-mode: difference;
      }
  
      
      .img-container {
        position: absolute;
        display: inline-flex;
        padding:2%;
        left:0%;
        z-index: 100;
      }
      
      .music-container2 {
          background-color: transparent;
          display: inline-flex;
          flex-wrap: wrap;
          height:70%;
          width:70%;
          position: relative;
          z-index: 100;
          align-items: center;
          justify-content: center;

        }
      
      .img-container img {
        height: 12vh;
        width: 12vh;
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;
        animation-play-state: paused;
      }
      
      .music-container.play .img-container img {
        animation-play-state: paused;
      }

      #music-container {
        border-style:none;
      }
      .music-info {
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-text-stroke: #000;
        -webkit-text-stroke-width: .10vw;
        position:absolute;
        display: block;
        color:rgb(255, 255, 255);
        margin-top: 140%;
        left:2%;
        right:2%;
        width: 90vw;
        padding: 1vh 1vw 1vh 1vw;
        opacity: 0;
        z-index: 100;
        font-size: 2vh;
        transition:none;
        text-align: center;
        font-family: 'coolveticaregular';
        src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
            url('coolvetica.rg-regular-webfont.woff') format('woff'),
            url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
            url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
      }
      
      .music-container.play .music-info {
        opacity: 1;
        background-color: transparent;
      }
      
      .music-info h4 {
        margin-bottom: 1%;
        margin-top: 1%;
        margin-right: 1%;
        margin-left: 1%;
        width:100%;
      }
      
      

      .progress-container {
        background: rgba(199, 199, 199, 0.63);
        border-radius: 5px;
        cursor: pointer;
        margin-top:1%;
        margin-right:5%;
        height: 2vh;
        width: 100%;
        display: block;
        position: absolute;
      }
      
      .progress {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
        display: block;
        position: absolute;
      }
      

    .gif2gif {
        width:30%;
        position: absolute;
        height:40%;
        right:3%;
        top:30%;
        z-index:100;
        mix-blend-mode: exclusion;
    }





/*END OF GLOBAL*/

/*START OF HOME PAGE*/

body {
    margin-right:0%;
    margin:0%;
    max-width: 100%;
}
.movingstrip{
    position:relative;
    mix-blend-mode: exclusion;
    z-index:98;
}
.moving-picture {
    width:5%;
    height:auto;
    animation: movePicture 140s linear infinite;

}

@keyframes movePicture {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(400vh);
    }
}
@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*END OF HOME PAGE*/

/*START OF ABOUT PAGE*/


.about2000 {
    display: block;
    position: absolute;
    z-index: 100;
    width: 50%;
    left:25%;
    right:25%;
    top:57%;

}
.about20000 {
    display: inline-flex;
    position: absolute;
    padding:1%;
    margin:1%;
    margin-top:30%;
    width: fit-content;
    height: fit-content;
    width: 100%;
    height: 70%;
    z-index: 10;
}
.about20001 {
    display: inline-flex;
    position: relative;
    z-index: 100;
    max-width: 50%;
    max-height: 40%;
    left:25%;

}
.about200001 {
    display: inline-flex;
    position: relative;
    padding:0%;
    margin:0%;
    width: fit-content;
    height: fit-content;
    width: 30%;
    height: 100%;
    z-index: 100;
    top:30%;
}


.about20000aclass {
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    margin-top:20%;
    margin-right:35%;
}

.about2000imgclass {
    display: block;
    position: absolute;
    width: 60%;
    height:auto;
    
}

.about20000aclass2 {
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    margin-top:45%;
    margin-right:0%;
    margin-left:40%;
}

.about2000imgclass2 {
    display: block;
    position: absolute;
    width: 60%;
    height:auto;
    
}
.about20000aclass3 {
    display: block;
    position: absolute;
    width:40%;
    height:100%;
    top:95%;
    margin-top:11%;
    left:29%;
}

.about2000imgclass3 {
    display: block;
    position: absolute;
    width: 100%;
    height:auto;
    
}


.about1 {
    background-color: transparent;
    margin-top:35%;
    margin-left:4%;
    position:relative;
    display:inline-flex;
    border-color: #000;
    border-radius: 5%;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
    transition-duration: 0.5s;
    z-index: 100;
}

.about2 {
    background-color: transparent;
z-index:100;
right: 10%;
width:80%;
height:100%;
position: absolute;
display: block;
transition-duration: 0.5s ;
z-index: 10;
justify-content: center;
align-items: center;

}

.about3 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:155%;
    margin-left:3%;
    width:90%;
    font-size: 4vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}
.about4 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:40%;
    right:0%;
    left:7%;
    height:auto;
    
    width:90%;
    font-size: 4vw;
    text-align: right;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}

.about44 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:15%;
    margin-left:10%;
    margin-bottom:3%;
    width:80%;
    font-size: 20vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
    mix-blend-mode: difference;
}

.about45 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:10%;
    right:10%;
    left: 60%;
    height:auto;
    mix-blend-mode: difference;
    width:fit-content;
    font-size: 8vw;
    text-align: right;
    justify-content: right;
    align-items: end;
    position: relative ;
    display:inline-flex;
    color:white;
}

.noexpectations {
    width:90%;
    height:auto;
    margin-top:0%;
    margin-right:20%;
    position: absolute;
    display: block;
    transition-duration: 0.5s ;
    z-index: 20;
    justify-content: center;
    align-items: center;
    padding:5%;
    mix-blend-mode: difference;

}
.nogif {
    width:100%;
    height:100%;
}


.back2 {
    width:80%;
    height:auto;
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:23vh;
    margin-bottom:5vh;
    display:flex;
    flex-wrap: wrap;
}
.textinvert {
    position: relative; 
    z-index: 2; 
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference; 
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
}
.why {
    right: 10%;
    width:80%;
    height:50%;
    margin-top:15%;
    position: absolute;
    display: block;
    transition-duration: 0.5s ;
    z-index: 10;
    justify-content: center;
    align-items: center;
    fill:white;
    mix-blend-mode: difference;
}
.why2 {
    width: 100%;
    margin-top:5%;
    position: absolute;
    display: block;
    transition-duration: 0.5s ;
    z-index: 10;
    justify-content: center;
    align-items: center;
    fill:white;
    mix-blend-mode: difference;
}
svg {
    z-index: 100;
}
g {
    z-index: 100;
}

.top1 {
    width:100%;
    max-height: 128%;
    position: absolute;
    display: block;
}
.top2 {
    width:100%;
    min-height: 450%;
    max-height: 600%;
    position: absolute;
    display: block;
    bottom:0%;
    top:0%;
    margin-top:60%;
}

.imgback {
    width:100%;
    margin:0;
    padding:0;
    position: absolute;
    display: block;
    left:0;
    top:0;
    bottom:0;
    z-index: -1;
  }

.why:hover {
    opacity: 0.8;
}
.aboutpicture1 {
    position:relative;
    display: inline-flex;
    left:18.5vw;
    top:10vh;
    height:55vh;
    width: auto;
    transition-duration: 0.5s;
}
.aboutpicture1:hover {
    opacity:0.8;
}

.aboutpicture2 {
    position:relative;
    display: inline-flex;
    top:2vh;
    height:20vh;
    width: auto;
    transition-duration: 0.5s;
}

.aboutpicture2:hover {
    opacity:0.8;
}

.horizontal2 {
    height:20vh;
    width: auto;
    left:-100vw;
    margin:35vh;
    position: absolute;
    animation: horizontalstrip 20s linear infinite;
    overflow:hidden;
    overflow:-moz-hidden-unscrollable;

}
@keyframes horizontalstrip {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(120vw);
    }
}

.welcome {
    width:95%;
    height:auto;
    left: 2%;
    position: absolute;
    z-index: 1;
    bottom:1px;
    top:52%;
    transition-duration: 0.5s;
}
.welcome:hover{
    opacity: 0.8;
}

.aboutman {
    display: inline-flex;
    position: relative;
    height: 20vh;
    width: auto;
    left: -30vw;
    top:70vh;
    bottom:0vh;
    animation: aboutman 5s 5s linear infinite;
    animation-direction:alternate-reverse;
    overflow:hidden;
}
.aboutman2 {
    display: inline-flex;
    position: relative;
    height: 20vh;
    width: auto;
    left: -30vw;
    margin-top:5%;
    margin-bottom:3%;
    animation: aboutman 5s 1s linear infinite;
    animation-direction:alternate-reverse;
    overflow:hidden;
    mix-blend-mode: overlay;
    z-index: 1;
}
@keyframes aboutman {
    0% {
        transform: translateX(-30vw);
    }
    100% {
        transform: translateX(80vw);
    }
}

p {
    justify-self: center;
    text-align: center;
    text-decoration-color: azure;
    text-decoration:wavy;
}   

/*END OF ABOUT PAGE*/

/*START OF ARTISTS PAGE*/

.artists1 {
    position:absolute;
    display: block;
    margin-top:8%;
    z-index: 100;
    top:40%;
    width:100%;
    height:26%;
    padding-top: 5%;
    animation: artists1 10s linear infinite;
    transition-duration:2s;
    mix-blend-mode: exclusion;
    fill:white;
}

.artists1:active {
    animation: artists1 10s linear infinite;
    transition-duration:2s;
    mix-blend-mode: exclusion;
    fill:white;
}

@keyframes artists1 {
    0% {
        background-color: rgb(0, 0, 0);
    }
    10% {
        background-color: rgb(0, 0, 255);
    }
    20% {
        background-color: rgba(0, 255, 13, 0.788);
    }
    30% {
        background-color: rgb(247, 0, 0);
    }
    40% {
        background-color: rgb(215, 253, 0);
    }
    50% {
        background-color: rgb(255, 0, 255);
    }
    60% {
        background-color: rgb(0, 255, 242);
    }
    70% {
        background-color: rgba(255, 153, 0, 0.788);
    }
    80% {
        background-color: rgb(247, 0, 0);
    }
    90% {
        background-color: rgb(215, 253, 0);
    }
    100% {
        background-color: rgb(0, 0, 255);
    }
}

.artists2 {
    position:relative;
    margin-top:227%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke: #ffffff;
    stroke-width: .5vw;
}

.artists2:hover {
    transition-duration: 1.5s;
    fill:#ff00dd;
    background-color:rgb(255, 194, 194);
    padding:1%;
    cursor: pointer;
    mix-blend-mode: difference;
}

.artists3 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke:#ffffff;
    stroke-width: .5vw;
}

.artists3:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:blue;
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#001d9e;

}

.artists4 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke:#ffffff;
    stroke-width: .5vw;
}

.artists4:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(0, 255, 85);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#00d300;
}

.artists5 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke:#ffffff;
    stroke-width: .47vw;
}

.artists5:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(241, 245, 36);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#6f009b;
}
.artists6 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke:#ffffff;
    stroke-width: .87vw;
}

.artists6:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(255, 28, 160);
    cursor: pointer;
    fill:#008fb3;
    mix-blend-mode: difference;
}

.artists7 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke:#ffffff;
    stroke-width: .97vw;
}

.artists7:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(180, 0, 0);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#990000;
}

.artists8 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom:0%;
    padding:2%;
    z-index: 100;
    fill:transparent;
    stroke:#ffffff;
    stroke-width: .57vw;
}

.artists8:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(255, 102, 0);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#fbff00;
}



.linksbottom {
    position:absolute;
    display:inline-flex;
    padding:0%;
    margin:0%;
    margin-bottom:25%;
    width:100%;
    height:10%;
    left:2%;
    Right:2%;
    bottom:10%;
    z-index: 100;
    mix-blend-mode: difference;
}
.linksbottom1 {
    position:relative;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin:0 auto;
    width:90%;
    height:5%;
    left:2%;
    Right:2%;
    bottom:0%;
    z-index: 100;
    mix-blend-mode: difference;
    flex-wrap: wrap;
    color: white;
}
.linksbottom11 {
    position:relative;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin:0 auto;
    width:90%;
    height:5%;
    left:2%;
    Right:2%;
    bottom:0%;
    margin-top:20%;
    z-index: 100;
    mix-blend-mode: difference;
    flex-wrap: wrap;
    color: white;
}
.linksbottom2 {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin-top:0%;
    bottom:10%;
    width:90%;
    height:25%;
    left:2%;
    Right:2%;
    z-index: 100;
    mix-blend-mode: normal;
    flex-wrap: wrap;
    color: black;

}

.linksbottom3 {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin-bottom:40%;
    width:90%;
    height:5%;
    left:2%;
    Right:2%;
    z-index: 100;
    mix-blend-mode: normal;
    flex-wrap: wrap;
    color: #fff;

}

.form {
    display:block;
    position: relative;
    z-index: 100;
    font-family: 'coolveticaregular';
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color:white;
    mix-blend-mode: difference;
    margin-top:150%;
    margin-bottom:15%;
}
.form:hover {
    mix-blend-mode: normal;
}
.form:focus{
    mix-blend-mode: normal;
}
.form1:hover {
    mix-blend-mode: normal;
}
.form1:focus{
    mix-blend-mode: normal;
}
.form:active {
    mix-blend-mode: normal;
}
.form1:active {
    mix-blend-mode: normal;
}

.form1 {
    display:block;
    position: relative;
    z-index: 100;
    font-family: 'coolveticaregular';
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    top:60%;
    margin-top: 60%;
    left:20%;

}



.aclasstemp {
    z-index: 100;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 3vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: relative;
    padding:5%;
    text-decoration: none;
    font-family: 'coolveticaregular';
    margin-top:0%;
    mix-blend-mode: normal;
}
.aclasstemp1 {
    z-index: 100;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 3vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: relative;
    padding:5%;
    text-decoration: none;
    font-family: 'coolveticaregular';
    margin-top:0%;
    mix-blend-mode: normal;
}
.aclasstemp2 {
    z-index: 100;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 3vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: relative;
    padding:5%;
    text-decoration: none;
    font-family: 'coolveticaregular';
    margin-bottom:15%;
    mix-blend-mode: normal;
}

.aclassask {
    z-index: 100;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 3vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: relative;
    padding:5%;
    text-decoration: none;
    font-family: 'coolveticaregular';
    margin-top:10%;

}

.aclass1ask {
    z-index: 100;
    width:100%;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:5%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}
.aclass1ask1 {
    z-index: 100;
    width:100%;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:10%;
    padding:5%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}


.aclass {
    z-index: 100;
    text-align: center;
    color:black;
    font-size: 3vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: relative;
    padding:5%;
    text-decoration: none;
    font-family: 'coolveticaregular';
    margin-top:0%;

}


.aclasshome {
    z-index: 100;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 4vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: relative;
    padding:5%;
    text-decoration: none;
    font-family: 'coolveticaregular';
    margin-top:150%;

}

.aclass1 {
    z-index: 100;
    width:100%;
    text-align: center;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:5%;
    mix-blend-mode: normal;
    text-decoration: none;
    font-family: 'coolveticaregular';
    color:rgb(255, 255, 255);
}

.aclass2 {
    z-index: 100;
    text-align: center;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:5%;
    mix-blend-mode: normal;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:100%;
    color:rgb(255, 255, 255);
}

.aclass3 {
    z-index: 100;
    text-align: center;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:5%;
    padding:5%;
    mix-blend-mode: normal;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:100%;
    color:rgb(255, 255, 255);
}

.aclass4 {
    z-index: 100;
    text-align: center;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:5%;
    padding:5%;
    mix-blend-mode: normal;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:100%;
    color:rgb(255, 255, 255);
}
.aclass:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass1:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass2:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass3:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass4:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}




@media screen and (max-width: 440px) {


.back2 {
    width:80%;
    height:auto;
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:23vh;
    margin-bottom:5vh;
    display:flex;
    flex-wrap: wrap;
}
.textinvert {
    position: relative; 
    z-index: 2; 
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference; 
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
}


.horizontal2 {
    height:20vh;
    width: auto;
    left:-100vw;
    margin:35vh;
    position: absolute;
    animation: horizontalstrip 20s linear infinite;
    overflow:hidden;
    overflow:-moz-hidden-unscrollable;

}

p {
    justify-self: center;
    text-align: center;
    text-decoration-color: azure;
    text-decoration:wavy;
}   
}






@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




.action-btn:focus {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 2vh;
    cursor: pointer;
    padding: 30%;
    margin: 0;
    position:relative;
    z-index: 100;
    transform: none;
    transition: none;
  }
  
  .action-btn.action-btn-big:focus {
    color: #ffffff;
    font-size: 3vh;
    transform: none;
    transition: none;
  }


  button#play.action-btn {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 2vh;
    cursor: pointer;
    padding: 30%;
    margin: 0;
    position:relative;
    z-index: 100;
    transform: none;
    transition: none;
  }
  button#play.action-btn.action-btn-big {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 2vh;
    cursor: pointer;
    padding: 30%;
    margin: 0;
    position:relative;
    z-index: 100;
    transform: none;
    transition: none;
  }
  button#play.action-btn {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 2vh;
    cursor: pointer;
    padding: 30%;
    margin: 0;
    position:relative;
    z-index: 100;
    transform: none;
    transition: none;
  }


  .aspire {
    position:relative;
    display: flex;
    width:100%;
    height:auto;
    margin-bottom:0%;
    mix-blend-mode:difference ;
    
}

.aspirediv {
    position:relative;
    display: flex;
    width:100%;
    height:auto;
    margin-top:23%;

    
}
.aspire2 {
    position:relative;
    display: flex;
    width:100%;
    height:auto;
    top:124%;
    margin-top:92%;
    mix-blend-mode:difference ;
}

.aspirebody{
    position:relative;
    display: block;
    width:100%;
    height:40%;
    margin-top:76%;
    z-index: 100;

}

.forgif {
    fill:white;
    position:relative;
    display: flex;
    width:100%;
    left:0%;
    right:0%;
    z-index: 100;
}

#aspirevid1 {
    width:35%;
    height:auto;
    display:inline-flex;
    position: relative;
}
#aspirevid2 {
    width:35%;
    height:auto;
    display:inline-flex;
    position: relative;
    margin-top:20%;
}
#aspirevid3 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    margin-top:5%;
    top:5%;
    mix-blend-mode: difference;
    margin-bottom:0%;
}
#aspirevid4 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: none;
}
#aspirevid5 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    mix-blend-mode: normal;
    margin-top:0%;
    top:80%;
    z-index: -1;
}
#aspirevid7 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    mix-blend-mode: normal;
    margin-top:0%;
    top:100%;
    z-index: -1;
}
#aspirevid8 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    mix-blend-mode: normal;
    margin-top:0%;
    top:120%;
    z-index: -1;
}
#aspirevid9 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    mix-blend-mode: normal;
    margin-top:0%;
    top:102%;
    z-index: 0;
    mix-blend-mode: normal;
}
#aspirevid6 {
    width:100%;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    mix-blend-mode: normal;
    margin-top:0%;
    top:80%;
    z-index: -1;
}

.aspirediv {
    width:100%;
    height:100%;
    position:relative;
    display: block;
}

.aspiretext1 {
    font-family:'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:fit-content;
    margin-top:46%;
    margin-left:10%;
    margin-right:20%;
    position:relative;
    display: inline-flex;
    color:white;
    mix-blend-mode: normal;
    z-index: 10;
}
.aspiretext2 {
    font-family: 'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:fit-content;
    margin-top:10%;
    margin-right:10%;
    margin-left:20%;
    position:relative;
    display: inline-flex;
    color:white;
    mix-blend-mode: normal;
    z-index: 10;
}
html {
    z-index: -100;
}


.aspiretext3 {
    font-family: 'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:fit-content;
    margin-top:19%;
    margin-left:10%;
    margin-right:20%;
    position:relative;
    display: inline-flex;
    color:white;
}
.aspiretext4 {
    font-family: 'coolveticaregular';
    font-size: 10vw;
    width:100%;
    position:relative;
    display:block;
    color:white;
    right:0%;
}

.aspiretext5 {
    font-family: 'coolveticaregular';
    font-size: 2vw;
    width:fit-content;
    height:50%;
    margin-left:10%;
    margin-right:20%;
    margin-top:20%;
    top:2%;
    position:relative;
    display: block;
    color:white;
    z-index: 100;
}
.aspiretext6 {
    font-family: 'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:50%;
    margin-top:0%;
    margin-right:10%;
    margin-left:20%;
    position:relative;
    display:block;
    color:white;
    z-index: 100;
}
.aspiretext7 {
    font-family: 'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:50%;
    margin-top:0%;
    margin-bottom:45%;
    margin-right:10%;
    margin-left:20%;
    position:relative;
    display:block;
    color:white;
    z-index: 100;
}
.aspiretext4:hover {
    mix-blend-mode: difference;
}
a.colorask {
    font-family: 'coolveticaregular';
    color:white;
    mix-blend-mode: normal;
    display: block;
    position: relative;
    border-style: dashed;
    border-width: 2vw;
    padding:1%;
    text-align: center;
    width: fit-content;
    height:fit-content;
    top:20%;
    margin-top:10%;
    margin-left:50%;
    z-index: 100;
}

a.colorask:active {
    mix-blend-mode: difference;
}

.hor2real2 {
    width:100%;
    height:auto;
    display: flex;
    position: relative;
    z-index: 100;
    top:10%;
    margin-top:0%;
    mix-blend-mode: difference;
}
.hor2real5 {
    width:100%;
    height:auto;
    mix-blend-mode: normal;
    display: flex;
    position: absolute;
    z-index: 100;
    top:0%;
    margin-top:0%;
}
.hor2real {
    width:100%;
    height:auto;
    display: flex;
    position: relative;
    z-index: 100;
    top:10%;
    margin-top:0%;
    mix-blend-mode: exclusion;
}
.albumart {
    width:100%;
    position:relative;
    display:block;
    margin-top: 10%;
}

.askk { 
    font-family: 'coolveticaregular';
    color:white;
    position:absolute;
    text-align: center;
    display: flex;
    left:0%;
    font-size:15vw;
    padding-right: 0%;
    margin-right:0%;
    top:47%;
    width:100%;
    mix-blend-mode: difference;
}

.askk2 { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    font-size: x-large;
    width:fit-content;
    padding-right: 0%;
    margin-right:0%;
    mix-blend-mode: difference;
    font-size: 25vw;
    margin-top:45%;
    margin-left:5%;
}

.askk3 { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    font-size: x-large;
    width:fit-content;
    padding-right: 0%;
    margin-right:0%;
    mix-blend-mode: difference;
    font-size: 7vw;
    top:10%;
    margin-bottom:40%;
    margin-left:5%;
}
.askk4 { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    font-size: x-large;
    width:fit-content;
    padding-right: 0%;
    mix-blend-mode: difference;
    font-size: 25vw;
    margin-top:0%;
    margin-left:2%;
    margin-right:5%;
}

.aboutfinal {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:30%;
    right:5%;
    left:5%;
    height:auto;
    
    width:90%;
    font-size: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}

.birds {
    width:100%;
    height:100%;
    position: relative;
    display: block;
    margin-top: 20%;
}
.bird1 {
    width:15%;
    height:60%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:2%;
    margin-right:2%;
}

.birdtext {
    font-family: 'coolveticaregular';
    font-size:12vw ;
    text-align: center;
    mix-blend-mode: difference;
    color:white;
    bottom:5%
}
.birdtext1 {
    font-family: 'coolveticaregular';
    font-size:22vw ;
    text-align: center;
    margin-top:0%;
    color:white;
    mix-blend-mode: difference;
}
.artistsabout {
    width:100%;
    height:100%;
    position: relative;
    display: block;
    margin-top: 15%;
    mix-blend-mode: difference;
}

.aboutgif {
    width:80%;
    height:10%;
    position: relative;
    display: flex;
    mix-blend-mode:hard-light;
    left:10%;
    right:10%;
    margin-bottom:20%;
    margin-top:22%;
    justify-content: center;
    align-items: center;
    animation: artists2 10s linear infinite;
}

.aboutgif:hover {
    animation: artists2 10s linear infinite;
    transition-duration:2s;
    mix-blend-mode: exclusion;
    fill:white;
}


.askk4 { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    left:10%;
    max-width: 100%;
    font-size: x-large;
    padding-right: 0%;
    margin-right:0%;
    mix-blend-mode: difference;
    font-size: 6vw;
    top:10%;
    margin-bottom:30%;
}
.askk5 { 
    font-family: 'coolveticaregular';
    color:rgb(194, 194, 194);
    position:relative;
    text-align: center;
    display: flex;
    max-width: 90%;
    font-size: x-large;
    padding-right: 0%;
    margin-right:0%;
    font-size: 4vw;
    top:2%;
    margin-top:60%;
}

@keyframes artists2 {
    0% {
        background-color: rgb(0, 0, 0);
    }
    10% {
        background-color: rgb(0, 0, 255);
    }
    20% {
        background-color: rgba(0, 0, 0, 0.788);
    }
    30% {
        background-color: rgba(0, 255, 13, 0.788);
    }
    40% {
        background-color: rgba(0, 0, 0, 0.788);
    }
    50% {
        background-color: rgb(247, 0, 0);
    }
    60% {
        background-color: rgba(0, 0, 0, 0.788);
    }
    70% {
        background-color: rgb(215, 253, 0);
    }
    80% {
        background-color: rgba(0, 0, 0, 0.788);
    }
    90% {
        background-color: rgb(255, 0, 255);
    }
    95% {
        background-color: rgb(95, 0, 95);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}