/*AUDIO PLAYER*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    width:100%;
}

html {
    width:100%;
}


/*START OF GLOBAL*/

.footer {
    display:block;
    justify-content: center;
    align-items:center;
    margin-top:25%;
    position: absolute;
    top:25%;
    width: 90%;
    height: 20%;
    background-color:transparent;
    z-index: 100;
}


#myVideo {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    top:0;
    z-index: -1;
    max-width: 100%;
    max-width: 200%;
    top:0;
    bottom: 0;
    z-index: 1;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
  }

  #myVideo2 {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:38%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }
  
  #myVideo3 {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:45%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }


.aboutbackgrounds {
    width:100%;
    height:425%;
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}



.gif2gif {
    width:40%;
    background-color: transparent;
    color:black;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    display:block;
    position: relative;
        z-index: 100;
    margin-left:7%;
    margin-top:2%;

}
.gif2gif:hover {
    opacity: 0.8;
    cursor: pointer;
    transition-duration: 0.5s;
}

.twothousandhead {
    width:100%;
    position: relative;
    left:5%;
    right:5%;
    top:5%;
    display: block;
}
.twothousandhead:hover {
    opacity:80%;
    transition-duration: 0.5s;
}
.tabs {
    display: inline-flex;
    width: 100%;
    position: relative;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height: 20%;
    text-align: right;
    justify-content:right;
    top:0;
    z-index: 7;
    right:5%;
    mix-blend-mode: difference;

}
.tab1 {
    text-align: right;
    right:2%;
    padding:1%;
    margin:auto;
    margin-left:2%;
    margin-right:2%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 1vw;
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    mix-blend-mode: difference;
    z-index: 100;

}
.tab1:hover {
    background-color: white;
    opacity: 2;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}
.tab1home {
    padding:2%;
    margin:auto;
    margin-left:1%;
    margin-right:1%;
    padding-left:2%;
    padding-right:2%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 4vw;
    text-align: center;
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    mix-blend-mode: difference;
    z-index: 100;
    left:0;
}
.tab1home:hover {
    background-color: white;
    color: #000000;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}
.tabshome {
    display: block;
    width: 100%;
    position: absolute;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height: 30%;
    text-align: center;
    justify-content:center;
    top:2%;
    z-index: 7;
    right:0%;
    left:0%;
    margin:0;
    mix-blend-mode: difference;
}


.home2000 {
    width: 100%;
    height:auto;
    justify-content: center;
    position: absolute;
    align-items: center;
    display:sticky;
    z-index: 5;
    mix-blend-mode: overlay;
    top:50%;
}
.home20001 {
    width:100%;
    height:100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    display:block;
    z-index: 5;
    mix-blend-mode: overlay;

}



.homediv {
    top:10%;
    display: block;
    width: 80%;
    height:10%;
    position: relative;
    z-index: 100;
    mix-blend-mode: overlay;
}

.home2000:hover {
    opacity:80%;
    transition-duration: 0.5s;
    cursor: pointer;
}






.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 0
}

.audio-player{
    flex: auto;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    text-emphasis-color: rgb(0, 0, 0);
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
}
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:active {
    text-decoration: none;
    color: blue;
    font-style: oblique;
}
.container:hover {
    opacity:.80;
    transition-duration: 0.5s;
}

/*END OF GLOBAL SITE*/

/*START OF GLOBAL RESPONSIVE*/

    .footer {
      width: 100%;
      top:0vh
    }

      #myVideo5 {
        position: absolute;
        display: block;
        right: 0%;
        left: 0;
        height:auto;
        top:0%;
        width:auto;
        max-width: 100%;   
        z-index: 1;

      }
      #myVideo {
        overflow: hidden;
        width:2px;
        height:2px;
        position:absolute;
        display: fixed;
        opacity:0;
        bottom:2%;
      }
    
    


    .tab1 {
        text-align: center;
        padding:3%;
        background-color: transparent;
        border-style: solid;
        color:white;
        border-color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
        transition-duration: 0.4s;
        font-size: 4vw;
        height:fit-content;
        width:fit-content;
        display:inline-flex;
        position: relative;
            z-index: 100;
        top:0%;
        left:5vw;
        right:5vw;
    }
    .tabs {
        display: block;
        width: 100%;
        position: absolute;
        background-color: transparent;
        color:rgb(255, 255, 255);
        height: fit-content;
        text-align: center;
        justify-content: space-between;
        top:0%;
        left:0%;
        right:0%;
        
    }




    .music-container {
        background-color: transparent;
        border-radius: 15%;
        border-style: solid;
        border-color: #000000;
        display: block;
        flex-wrap: wrap;
        height:20%;
        width:20%;
        left:15%;
        top:15%;
        position: absolute;
        z-index: 9;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
      }
      
      .img-container {
        position: relative;
        display: block;
        width: fit-content;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding:0;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
      }
      
      .music-container2 {
          background-color: transparent;
          border-radius: 15%;
          display: inline-flex;
          flex-wrap: wrap;
          height:70%;
          width:70%;
          position: relative;
          margin: 100px 0;
          z-index: 9;
          align-items: center;
          justify-content: center;
          border-radius: 15%;
          border-style: solid;
          border-color: #000000;
        }
      
      .img-container img {
      
      
        height: 12vh;
        width: 12vh;
        position: relative;
        top: 0;
        left: 0;
          z-index: 0;
        animation-play-state: paused;
      }
      
      .music-container.play .img-container img {
        animation-play-state: paused;
        border-style: solid;
        border-color: #000000;
      }
      
      
      .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        z-index: 10;
      }
      
      .action-btn {
        background-color: transparent;
        border: 0;
        color: #000000;
        font-size: 2vw;
        cursor: pointer;
        padding: 20%;
        margin: 0;
        z-index: 10;
      }
      
      .action-btn.action-btn-big {
        color: #000000;
        font-size: 2vw;
        z-index: 10;
        margin: 0;
        padding: 20%;
        border: 0;
      }
      
      .action-btn:focus {
        z-index: 10;
      }
      
      
      .progress-container {
        background: rgba(199, 199, 199, 0.63);
        border-radius: 5px;
        cursor: pointer;
        margin-top:60%;
        height: 6px;
        width: 100%;
      }
      
      .progress {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
      }
      
      .entire {
          height:fit-content;
          width:fit-content;
          display:inline-flex;
          position: relative;
          justify-content: center;
          align-items: center;
          top:-7vh;
          text-align: center;
          left:8vw;
      }
      
      



    .music-container {
        background-color:transparent;
        display:inline-flex;
        width:100%;
        height:30%;
        border-radius: 0%;
        left:0%;
        position: relative;
        z-index: 98;
        margin-left: 0%;
        margin-top: 30%;
      }

      .invertedstrip {
        background-color:rgb(255, 255, 255);
        display:inline-flex;
        width:100%;
        height:10%;
        border-radius: 0%;
        left:0%;
        position: absolute;
        z-index: 97;
        margin-left: 0%;
        margin-top: 29%;
        mix-blend-mode: difference;
      }
  
      
      .img-container {
        position: absolute;
        display: inline-flex;
        padding:2%;
        left:0%;

      }
      
      .music-container2 {
          background-color: transparent;
          display: inline-flex;
          flex-wrap: wrap;
          height:70%;
          width:70%;
          position: relative;
          z-index: 10;
          align-items: center;
          justify-content: center;

        }
      
      .img-container img {
        height: 12vh;
        width: 12vh;
        position: relative;
        top: 0;
        left: 0;
          z-index: 0;
        animation-play-state: paused;
      }
      
      .music-container.play .img-container img {
        animation-play-state: paused;
      }
      .action-btn {
        background-color: transparent;
        border: 0;
        color: #ffffff;
        font-size: 2vh;
        cursor: pointer;
        padding: 40%;
        margin: 0;
        position:relative;
      }
      
      .action-btn.action-btn-big {
        color: #ffffff;
        font-size: 3vh;
      }
      .navigation {
        display: inline-flex;
        position: relative;
        z-index: 100;
        left:5%;
        top:20%;
      }


      #music-container {
        border-style:none;
      }
      .music-info {
        background-color: rgba(0, 0, 0, 0.5);
        position:absolute;
        display: block;
        color:rgb(0, 0, 0);
        top: 135%;
        left:2%;
        right:2%;
        width: 100%;
        padding: 1vh 1vw 1vh 1vw;
        opacity: 0;
        z-index: 100;
        font-size: 2vh;
        transition:none;
        text-align: center;
        font-family: 'coolveticaregular';
        src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
            url('coolvetica.rg-regular-webfont.woff') format('woff'),
            url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
            url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
      }
      
      .music-container.play .music-info {
        opacity: 1;
        background-color: transparent;
      }
      
      .music-info h4 {
        margin: 1vh 1vw 1vh 1vw;
      }
      
      .progress-container {
        background: #fff;
        mix-blend-mode: difference;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0;
        height: 4px;
        width: 100%;
        margin-right:12%;
      }

      .gallery {
        padding: 1rem;
        display:grid;
        grid-template-columns: repeat(10, 80vw);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        overflow: scroll;
        width: 100%;
        scroll-snap-type:both mandatory;
        scroll-padding: 1rem;
        top:90%;
        z-index: 1;
    }
    
    .active {
        scroll-snap-type: unset;
    }
    
    li {
        scroll-snap-align: center;
        display: inline-block;
        border-radius: 3px;
        font-size: 0;
        z-index: 90;
    }
    
    .cimages {
         height:30%;
         width:100%;
         top:30%;
         position: relative;
         display: block;
         z-index: 90;
         mix-blend-mode: difference;
    }
    .gif2gif {
        width:30%;
        position: absolute;
        height:40%;
        right:3%;
        top:30%;
        z-index:100;
        mix-blend-mode: exclusion;
    }





/*END OF GLOBAL*/

/*START OF HOME PAGE*/

body {
    margin-right:0%;
    margin:0%;
    max-width: 100%;
}
.movingstrip{
    position:relative;
    mix-blend-mode: exclusion;
    z-index:98;
}
.moving-picture {
    width:5%;
    height:auto;
    animation: movePicture 140s linear infinite;

}

@keyframes movePicture {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(400vh);
    }
}
@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*END OF HOME PAGE*/

/*START OF ABOUT PAGE*/


.about2000 {
    display: inline-flex;
    position: relative;
    z-index: 100;
    max-width: 40%;
    max-height: 30%;
    left:45%;

}
.about20000 {
    display: inline-flex;
    position: relative;
    padding:1%;
    margin:1%;
    width: fit-content;
    height: fit-content;
    width: 40%;
    height: 100%;
    z-index: 10;
}

.about1 {
    background-color: transparent;
    margin-top:35%;
    margin-left:4%;
    position:relative;
    display:inline-flex;
    border-color: #000;
    border-radius: 5%;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
    transition-duration: 0.5s;
    z-index: 100;
}

.about2 {
    background-color: transparent;
z-index:100;
right: 10%;
width:80%;
height:100%;
position: absolute;
display: block;
transition-duration: 0.5s ;
z-index: 10;
justify-content: center;
align-items: center;

}

.about3 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:65%;
    margin-left:3%;
    width:80%;
    font-size: 3vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}
.about4 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:50%;
    right:0%;
    left:25%;
    height:auto;
    
    width:70%;
    font-size: 3vw;
    text-align: right;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}

.noexpectations {
    width:90%;
    height:70%;
    margin-top:10%;
    margin-right:20%;
    position: absolute;
    display: block;
    transition-duration: 0.5s ;
    z-index: 20;
    justify-content: center;
    align-items: center;
    padding:5%;
    mix-blend-mode: difference;

}
.nogif {
    width:100%;
    height:100%;
}


.back2 {
    width:80%;
    height:auto;
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:23vh;
    margin-bottom:5vh;
    display:flex;
    flex-wrap: wrap;
}
.textinvert {
    position: relative; 
    z-index: 2; 
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference; 
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
}
.why {
    right: 10%;
    width:80%;
    height:50%;
    margin-top:15%;
    position: absolute;
    display: block;
    transition-duration: 0.5s ;
    z-index: 10;
    justify-content: center;
    align-items: center;
    fill:white;
    mix-blend-mode: difference;
}
.why2 {
    width: 100%;
    margin-top:5%;
    position: absolute;
    display: block;
    transition-duration: 0.5s ;
    z-index: 10;
    justify-content: center;
    align-items: center;
    fill:white;
    mix-blend-mode: difference;
}
svg {
    z-index: 100;
}
g {
    z-index: 100;
}

.top1 {
    width:100%;
    max-height: 128%;
    position: absolute;
    display: block;
}
.top2 {
    width:100%;
    min-height: 450%;
    max-height: 600%;
    position: absolute;
    display: block;
    bottom:0%;
    top:0%;
    margin-top:60%;
}

.imgback {
    width:100%;
    margin:0;
    padding:0;
    position: absolute;
    display: block;
    left:0;
    top:0;
    bottom:0;
    z-index: -1;
  }

.why:hover {
    opacity: 0.8;
}
.aboutpicture1 {
    position:relative;
    display: inline-flex;
    left:18.5vw;
    top:10vh;
    height:55vh;
    width: auto;
    transition-duration: 0.5s;
}
.aboutpicture1:hover {
    opacity:0.8;
}

.aboutpicture2 {
    position:relative;
    display: inline-flex;
    top:2vh;
    height:20vh;
    width: auto;
    transition-duration: 0.5s;
}

.aboutpicture2:hover {
    opacity:0.8;
}

.horizontal2 {
    height:20vh;
    width: auto;
    left:-100vw;
    margin:35vh;
    position: absolute;
    animation: horizontalstrip 20s linear infinite;
    overflow:hidden;
    overflow:-moz-hidden-unscrollable;

}
@keyframes horizontalstrip {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(120vw);
    }
}

.welcome {
    width:75%;
    height:auto;
    left: 10%;
    position: absolute;
    z-index: 1;
    bottom:1px;
    top:35%;
    transition-duration: 0.5s;
}
.welcome:hover{
    opacity: 0.8;
}

.aboutman {
    display: inline-flex;
    position: relative;
    height: 20vh;
    width: auto;
    left: -20vw;
    top:40vh;
    bottom:0vh;
    animation: aboutman 5s 5s linear infinite;
    overflow:hidden;
}
@keyframes aboutman {
    0% {
        transform: translateX(-20vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

p {
    justify-self: center;
    text-align: center;
    text-decoration-color: azure;
    text-decoration:wavy;
}   

/*END OF ABOUT PAGE*/

/*START OF ARTISTS PAGE*/

.artists1 {
    position:absolute;
    display: block;
    margin-top:0%;
    z-index: 100;
    top:30%;
    left:10%;
    right:10%;
    width:80%;
    height:80%;
}

.artists1:hover {
    animation: artists1 10s linear infinite;
    transition-duration:2s;
    mix-blend-mode: exclusion;
    fill:white;
}

@keyframes artists1 {
    0% {
        background-color: rgb(0, 0, 0);
    }
    5% {
        background-color: rgb(0, 0, 255);
    }
    10% {
        background-color: rgba(0, 255, 13, 0.788);
    }
    15% {
        background-color: rgb(247, 0, 0);
    }
    20% {
        background-color: rgb(215, 253, 0);
    }
    25% {
        background-color: rgb(255, 0, 255);
    }
    30% {
        background-color: rgb(0, 255, 242);
    }
    35% {
        background-color: rgba(255, 153, 0, 0.788);
    }
    40% {
        background-color: rgb(247, 0, 0);
    }
    45% {
        background-color: rgb(215, 253, 0);
    }
    50% {
        background-color: rgb(0, 0, 255);
    }
    55% {
        background-color: rgba(0, 255, 13, 0.788);
    }
    60% {
        background-color: rgb(247, 0, 0);
    }
    65% {
        background-color: rgb(215, 253, 0);
    }
    70% {
        background-color: rgb(255, 0, 255);
    }
    75% {
        background-color: rgb(0, 255, 242);
    }
    80% {
        background-color: rgba(255, 153, 0, 0.788);
    }
    85% {
        background-color: rgb(247, 0, 0);
    }
    90% {
        background-color: rgb(215, 253, 0);
    }
    95% {
        background-color: rgb(0, 255, 21);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

.artists2 {
    position:relative;
    margin-top:52%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#ffa6a3;
    stroke: #000;
}

.artists2:hover {
    transition-duration: 1.5s;
    fill:#ffffff;
    background-color:rgb(255, 194, 194);
    padding:1%;
    cursor: pointer;
    mix-blend-mode: difference;
}

.artists3 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:#002fff;
    stroke:#000000;
}

.artists3:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:blue;
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff;

}

.artists4 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#00f000;
    stroke:#000000;
}

.artists4:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(0, 255, 85);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff;
}

.artists5 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:#b700ff;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists5:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(241, 245, 36);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff
}
.artists6 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#ff12df;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists6:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(255, 28, 160);
    cursor: pointer;
    fill:#ffffff;
    mix-blend-mode: difference;
}

.artists7 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:#e90000;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists7:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(180, 0, 0);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff;
}

.artists8 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#003881;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists8:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(255, 102, 0);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:white;
}



.linksbottom {
    position:absolute;
    display:inline-flex;
    padding:0%;
    margin:0%;
    margin-bottom:5%;
    width:100%;
    height:10%;
    left:2%;
    Right:2%;
    bottom:10%;
    z-index: 100;
    mix-blend-mode: difference;
}
.linksbottom1 {
    position:relative;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin:0 auto;
    width:90%;
    height:5%;
    left:2%;
    Right:2%;
    bottom:-30%;
    z-index: 100;
    mix-blend-mode: difference;
    flex-wrap: wrap;
}
.aclass {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 3vw;
    width:100%;
    height:3%;
    display: inline-flex;
    position: absolute;
    padding:5%;
    top:35%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    text-align:center;
    justify-content: center;

}

.aclass1 {
    z-index: 100;
    width:100%;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:5%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}

.aclass2 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:5%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:100%;
}

.aclass3 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:5%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:100%;
}

.aclass4 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:4%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:100%;
}
.aclass:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass1:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass2:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass3:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass4:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}




@media screen and (max-width: 440px) {


.back2 {
    width:80%;
    height:auto;
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:23vh;
    margin-bottom:5vh;
    display:flex;
    flex-wrap: wrap;
}
.textinvert {
    position: relative; 
    z-index: 2; 
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference; 
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
}


.horizontal2 {
    height:20vh;
    width: auto;
    left:-100vw;
    margin:35vh;
    position: absolute;
    animation: horizontalstrip 20s linear infinite;
    overflow:hidden;
    overflow:-moz-hidden-unscrollable;

}

p {
    justify-self: center;
    text-align: center;
    text-decoration-color: azure;
    text-decoration:wavy;
}   
}