 /*AUDIO PLAYER*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    width:100%;
}

html {
    width:100%;
    background-color: #000;
}

.music-container {
  background-color: transparent;
  border-radius: 15%;
  border-style: solid;
  border-color: #000000;
  display: inline-flex;
  flex-wrap: wrap;
  height:24vh;
  width:10vw;
  left:2vw;
  top:2vh;
  position: absolute;
  z-index: 96;
  align-items: center;
  justify-content: center;
  margin-left: 0%;
}

.img-container {
  position: relative;
  display: block;
  width: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:2%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.music-container2 {
    background-color: transparent;
    border-radius: 15%;
    display: inline-flex;
    flex-wrap: wrap;
    height:70%;
    width:70%;
    position: relative;
    margin: 100px 0;
    z-index: 9;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border-style: solid;
    border-color: #000000;
  }

.img-container img {


  height: 12vh;
  width: 12vh;
  position: relative;
  top: 0;
  left: 0;
    z-index: 0;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
  border-style: solid;
  border-color: #000000;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0%;
  top:2vh;
}



.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  z-index: 10;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-size: 2vh;
  cursor: pointer;
  padding: 20%;
  margin: 0;
  z-index: 10;
}

.action-btn.action-btn-big {
  color: #000000;
  font-size: 3vh;
  z-index: 10;
}

.action-btn:focus {
  outline: 0;
  z-index: 10;
}

.music-info {
  background-color: transparent;
  position:absolute;
  color:rgb(0, 0, 0);
  top: 0;
  left:90%;
  width: 20vw;
  padding: 1vh 1vw 1vh 1vw;
  opacity: 0;
  z-index: 0;
  font-family: 'coolveticaregular';
  src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
      url('coolvetica.rg-regular-webfont.woff') format('woff'),
      url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
      url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 3vh;
  text-align: left;
  margin:1vh 1vw 0vh 1vw;
  z-index: 97;
  mix-blend-mode: difference;
}

.music-container.play .music-info {
  opacity: 1;
  background-color: transparent;
  color: rgb(0, 0, 0);
  z-index: 97;
  top:1vh;
}

.music-info h4 {
  margin: 1vh 1vw 1vh 1vw;
}

.progress-container {
  background: rgba(199, 199, 199, 0.63);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.entire {
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top:-7vh;
    text-align: center;
    left:8vw;
}


/*START OF GLOBAL*/

.comingsoon{
    font-family: 'coolveticaregular';
    display:block;
    position: absolute;
    font-size: 5vw;
    color: white;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    mix-blend-mode: difference;
    top:2%;
    right:10%;
}
.footer {
    display:block;
    justify-content: center;
    align-items:center;
    margin-top:25%;
    position: absolute;
    top:25%;
    width: 100%;
    height: 20%;
    background-color:transparent;
    z-index: 100;
    mix-blend-mode: difference;
}
#myVideo5 {
    overflow: hidden;
    width:2px;
    height:2px;
    position:absolute;
    display: block;
    opacity:0;
    bottom:2%;
  }

  #myVideoa2 {
    position: relative;
    display: block;
    right: 0%;
    left: 0%;
    height:auto;
    width:100%;;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    top:0%;
    z-index: -1;
    opacity:1;
  }
  #myVideoa3 {
    position: relative;
    display: flex;
    right: 0%;
    left: 0%;
    height:40%;
    min-width:100%;;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    top:0%;
    z-index: -1;
    opacity:1;
  }

#myVideo {
    position: relative;
    display: block;
    right: 0%;
    left: 0%;
    height:auto;
    width:100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    top:0%;
    z-index: -1;
    opacity:1;
  }

  #myVideocoming {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    width:100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    top:0%;
    z-index: -1;
    opacity:1;
    mix-blend-mode: overlay;
  }

  #myVideo2 {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:38%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }
  
  #myVideo3 {
    position: absolute;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    top:45%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }


  #myVideo31 {
    position: relative;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    margin-top:-30%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }

  #myVideo32 {
    position: relative;
    display: block;
    right: 0%;
    left: 0%;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    margin-top:-30%;
    z-index: -1;
    padding:0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    mix-blend-mode: difference;
  }



.aboutbackgrounds {
    width:100%;
    height:425%;
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}



.gif2gif {
    width:40%;
    background-color: transparent;
    color:black;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    display:block;
    position: relative;
        z-index: 100;
    margin-left:7%;
    margin-top:2%;

}
.gif2gif:hover {
    opacity: 0.8;
    cursor: pointer;
    transition-duration: 0.5s;
}

.twothousandhead {
    width:100%;
    position: relative;
    left:5%;
    right:5%;
    top:5%;
    display: block;
}
.twothousandhead:hover {
    opacity:80%;
    transition-duration: 0.5s;
}
.tabs {
    display: inline-flex;
    width: 100%;
    position: relative;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height: 20%;
    text-align: right;
    justify-content:right;
    top:0;
    z-index: 98;
    right:5%;
    mix-blend-mode: difference;

}
.tab1 {
    text-align: right;
    right:2%;
    padding-top:.5%;
    padding-bottom:.5%;
    padding-right:3%;
    padding-left:3%;
    margin:auto;
    margin-left:2%;
    margin-right:2%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 1vw;
    height:fit-content;
    width:fit-content;
    display:inline-flex;
    position: relative;
    mix-blend-mode: difference;
    z-index: 100;

}
.tab1:hover {
    background-color: white;
    opacity: 2;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}
.tab1home {
    padding:2%;
    margin:auto;
    margin-left:1%;
    margin-right:1%;
    background-color: transparent;
    border: solid white;
    color:rgb(255, 255, 255);
    text-decoration-color: white;
    text-emphasis-color: white;
    font-family: 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    -webkit-text-fill-color: #fff;
    font-size: 1vw;
    text-align: center;
    height:20%;
    width:20%;
    display:inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
    z-index: 100;
    right:0%;
}
.tab1home:hover {
    background-color: white;
    color: #000000;
    -webkit-text-fill-color: #000000;
    transition-duration: 0.5s;
}
.tabshome {
    display: inline-flex;
    width: 50%;
    position: absolute;
    background-color: transparent;
    color:rgb(255, 255, 255);
    height: 30%;
    text-align: right;
    justify-content:right;
    top:0;
    z-index: 7;
    right:3%;
    margin:auto;
    mix-blend-mode: difference;
}


.home2000 {
    width: 100%;
    height:50%;
    justify-content: center;
    position: absolute;
    align-items: center;
    display:block;
    z-index: 5;
    mix-blend-mode: overlay;
    top:0%;
}
.home20001 {
    width:100%;
    height:100%;
    top:40%;
    justify-content: center;
    position: absolute;
    align-items: center;
    display:block;
    z-index: 5;
    mix-blend-mode: overlay;
}



.homediv {
    top:10%;
    display: block;
    width: 80%;
    height:10%;
    position: relative;
    z-index: 100;
    mix-blend-mode: overlay;
}

.home2000:hover {
    opacity:80%;
    transition-duration: 0.5s;
    cursor: pointer;
}






.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 0
}

.audio-player{
    flex: auto;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    text-emphasis-color: rgb(0, 0, 0);
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
}
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:active {
    text-decoration: none;
    color: blue;
    font-style: oblique;
}
.container:hover {
    opacity:.80;
    transition-duration: 0.5s;
}

/*END OF GLOBAL SITE*/



/*END OF GLOBAL*/

/*START OF HOME PAGE*/

body {
    margin-right:0%;
    margin:0%;
    max-width: 100%;
}
.movingstrip{
    position:relative;
    mix-blend-mode: exclusion;
    z-index:98;
}
.moving-picture {
    width:5%;
    height:auto;
    animation: movePicture 140s linear infinite;

}

@keyframes movePicture {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(400vh);
    }
}
@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*END OF HOME PAGE*/

/*START OF ABOUT PAGE*/


.about2000 {
    display: inline-flex;
    position: relative;
    z-index: 100;
    max-width: 40%;
    max-height: 30%;
    left:45%;

}
.about20000 {
    display: inline-flex;
    position: relative;
    padding:1%;
    margin:1%;
    width: fit-content;
    height: fit-content;
    width: 40%;
    height: 100%;
    z-index: 100;
    top:20%;
}

.about1 {
    background-color: transparent;
    margin-top:35%;
    margin-left:4%;
    position:relative;
    display:inline-flex;
    border-color: #000;
    border-radius: 5%;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
    transition-duration: 0.5s;
    z-index: 100;
}

.about2 {
    background-color: transparent;
z-index:100;
right: 10%;
width:80%;
height:100%;
position: absolute;
display: block;
transition-duration: 0.5s ;
z-index: 10;
justify-content: center;
align-items: center;

}

.about3 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:35%;
    margin-left:3%;
    margin-bottom:3%;
    width:80%;
    font-size: 3vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}
.about4 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:10%;
    right:0%;
    left:25%;
    height:auto;
    
    width:70%;
    font-size: 3vw;
    text-align: right;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}

.about44 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:15%;
    margin-left:3%;
    margin-bottom:3%;
    width:80%;
    font-size: 5vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
    mix-blend-mode: difference;
}
.about45 {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:10%;
    right:0%;
    left:25%;
    height:auto;
    mix-blend-mode: difference;
    width:70%;
    font-size: 3vw;
    text-align: right;
    justify-content: right;
    align-items: end;
    position: relative ;
    display:inline-flex;
    color:white;
}
.askk { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    left:20%;
    font-size: x-large;
    padding-right: 0%;
    margin-right:0%;
    mix-blend-mode: difference;
}

.askk2 { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    left:20%;
    font-size: x-large;
    padding-right: 0%;
    margin-right:0%;
    mix-blend-mode: difference;
    font-size: 5vw;
    top:10%;
}

.askk3 { 
    font-family: 'coolveticaregular';
    color:white;
    position:relative;
    display: flex;
    left:20%;
    font-size: x-large;
    padding-right: 0%;
    margin-right:0%;
    mix-blend-mode: difference;
    font-size: 3vw;
    top:10%;
}

.aboutfinal {
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    z-index:100;
    margin-top:10%;
    right:15%;
    left:15%;
    height:auto;
    
    width:70%;
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative ;
    display:inline-flex;
    color:white;
}

.birds {
    width:100%;
    height:100%;
    position: relative;
    display: block;
    margin-top: 10%;;
}
.bird1 {
    width:15%;
    height:60%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:2%;
    margin-right:2%;
}

.birdtext {
    font-family: 'coolveticaregular';
    font-size:12vw ;
    text-align: center;
    mix-blend-mode: difference;
    color:white;
}
.birdtext1 {
    font-family: 'coolveticaregular';
    font-size:22vw ;
    text-align: center;
    margin-top:0%;
    color:white;
    mix-blend-mode: difference;
}
.artistsabout {
    width:100%;
    height:100%;
    position: relative;
    display: block;
    margin-top: 10%;;
    mix-blend-mode: difference;
}

.aboutgif {
    width:80%;
    height:10%;
    position: relative;
    display: flex;
    mix-blend-mode:hard-light;
    left:10%;
    right:10%;
    justify-content: center;
    align-items: center;
}

.aboutgif:hover {
    animation: artists1 10s linear infinite;
    transition-duration:2s;
    mix-blend-mode: exclusion;
    fill:white;
}

@media (max-width=1320px) {
    .music-container {
        border-style: none;
    }
    #music-container {
        border-style: none;
    }
    .music-container2 {
        border-style: none;
    }
}

.noexpectations {
    width:90%;
    height:auto;
    margin-top:10%;
    margin-right:20%;
    position: relative;
    display: flex;
    transition-duration: 0.5s ;
    z-index: 20;
    justify-content: center;
    align-items: center;
    padding:5%;
    mix-blend-mode: difference;

}
.nogif {
    width:100%;
    height:100%;
}


.back2 {
    width:80%;
    height:auto;
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:23vh;
    margin-bottom:5vh;
    display:flex;
    flex-wrap: wrap;
}
.textinvert {
    position: relative; 
    z-index: 2; 
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference; 
    font-family: 'coolveticaregular';
    src: url('coolvetica.rg-regular-webfont.woff2') format('woff2'),
        url('coolvetica.rg-regular-webfont.woff') format('woff'),
        url('coolvetica.rg-regular-webfont.ttf') format('truetype'),
        url('coolvetica.rg-regular-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size:larger;
}
.why {
    margin-right: 10%;
    margin-left: 10%;
    width:80%;
    height:auto;
    margin-top:0%;
    position: relative;
    display: flex;
    transition-duration: 0.5s ;
    z-index: 100;
    justify-content: center;
    align-items: center;
    fill:white;
    mix-blend-mode: difference;
}
.why2 {
    width: 100%;
    position: relative;
    display: block;
    transition-duration: 0.5s ;
    z-index: 100;
    justify-content: center;
    align-items: center;
    fill:white;
    mix-blend-mode: difference;
}
svg {
    z-index: 100;
}
g {
    z-index: 100;
}

.top1 {
    width:100%;
    max-height: 128%;
    position: absolute;
    display: block;
}
.top2 {
    width:100%;
    min-height: 450%;
    max-height: 600%;
    position: absolute;
    display: block;
    bottom:0%;
    top:0%;
    margin-top:60%;
}

.imgback {
    width:100%;
    margin:0;
    padding:0;
    position: absolute;
    display: block;
    left:0;
    top:0;
    bottom:0;
    z-index: -1;
  }

.why:hover {
    opacity: 0.8;
}
.aboutpicture1 {
    position:relative;
    display: inline-flex;
    left:18.5vw;
    top:10vh;
    height:55vh;
    width: auto;
    transition-duration: 0.5s;
}
.aboutpicture1:hover {
    opacity:0.8;
}

.aboutpicture2 {
    position:relative;
    display: inline-flex;
    top:2vh;
    height:20vh;
    width: auto;
    transition-duration: 0.5s;
}

.aboutpicture2:hover {
    opacity:0.8;
}

.horizontal2 {
    height:20vh;
    width: auto;
    left:-100vw;
    margin:35vh;
    position: absolute;
    animation: horizontalstrip 20s linear infinite;
    overflow:hidden;
    overflow:-moz-hidden-unscrollable;

}
@keyframes horizontalstrip {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(120vw);
    }
}

.welcome {
    width:75%;
    height:auto;
    left: 10%;
    position: relative;
    display: flex;
    z-index: 1;
    margin-top:0%;
    transition-duration: 0.5s;
}
.welcome:hover{
    opacity: 0.8;
}

.aboutman {
    display: inline-flex;
    position: relative;
    height: 20vh;
    width: auto;
    left: -20vw;
    top:40vh;
    bottom:0vh;
    animation: aboutman 5s 5s linear infinite;
    animation-direction:alternate-reverse;
    overflow:hidden;
}
@keyframes aboutman {
    0% {
        transform: translateX(-90vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

p {
    justify-self: center;
    text-align: center;
    text-decoration-color: azure;
    text-decoration:wavy;
}   

/*END OF ABOUT PAGE*/

/*START OF ARTISTS PAGE*/

.artists1 {
    position:relative;
    display: flex;
    margin-top:11%;
    z-index: 100;
    top:30%;
    left:10%;
    right:10%;
    width:80%;
    height:auto;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.artists1:hover {
    animation: artists1 10s linear infinite;
    transition-duration:2s;
    mix-blend-mode: exclusion;
    fill:white;
}

@keyframes artists1 {
    0% {
        background-color: rgb(0, 0, 0);
    }
    5% {
        background-color: rgb(0, 0, 255);
    }
    10% {
        background-color: rgba(0, 255, 13, 0.788);
    }
    15% {
        background-color: rgb(247, 0, 0);
    }
    20% {
        background-color: rgb(215, 253, 0);
    }
    25% {
        background-color: rgb(255, 0, 255);
    }
    30% {
        background-color: rgb(0, 255, 242);
    }
    35% {
        background-color: rgba(255, 153, 0, 0.788);
    }
    40% {
        background-color: rgb(247, 0, 0);
    }
    45% {
        background-color: rgb(215, 253, 0);
    }
    50% {
        background-color: rgb(0, 0, 255);
    }
    55% {
        background-color: rgba(0, 255, 13, 0.788);
    }
    60% {
        background-color: rgb(247, 0, 0);
    }
    65% {
        background-color: rgb(215, 253, 0);
    }
    70% {
        background-color: rgb(255, 0, 255);
    }
    75% {
        background-color: rgb(0, 255, 242);
    }
    80% {
        background-color: rgba(255, 153, 0, 0.788);
    }
    85% {
        background-color: rgb(247, 0, 0);
    }
    90% {
        background-color: rgb(215, 253, 0);
    }
    95% {
        background-color: rgb(0, 255, 21);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

.artists2 {
    position:relative;
    margin-top:12%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#ffa6a3;
    stroke: #000;
}

.artists2:hover {
    transition-duration: 1.5s;
    fill:#ffffff;
    background-color:rgb(255, 194, 194);
    padding:1%;
    cursor: pointer;
    mix-blend-mode: difference;
}

.artists3 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:#002fff;
    stroke:#000000;
}

.artists3:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:blue;
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff;

}

.artists4 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#00f000;
    stroke:#000000;
}

.artists4:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(0, 255, 85);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff;
}

.artists5 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:#b700ff;
    stroke:#000000;
    stroke-width: .05vw;
}

.artists5:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(241, 245, 36);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff
}
.artists6 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#ff12df;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists6:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(255, 28, 160);
    cursor: pointer;
    fill:#ffffff;
    mix-blend-mode: difference;
}

.artists7 {
    position:relative;
    margin-top:7%;
    margin-left: 20%;
    margin-right: 5%;
    padding:2%;
    z-index: 100;
    fill:#e90000;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists7:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(180, 0, 0);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:#ffffff;
}

.artists8 {
    position:relative;
    margin-top:7%;
    margin-left: 5%;
    margin-right: 20%;
    padding:2%;
    z-index: 100;
    fill:#003881;
    stroke:#000000;
    stroke-width: .17vw;
}

.artists8:hover {
    padding:1%;
    transition-duration: 1.5s;
    background-color:rgb(255, 102, 0);
    cursor: pointer;
    mix-blend-mode: difference;
    fill:white;
}



.linksbottom {
    position:relative;
    display:block;
    padding:0%;
    margin:0%;
    margin-bottom:5%;
    width:100%;
    height:10%;
    left:2%;
    Right:2%;
    bottom:-20%;
    z-index: 100;
    mix-blend-mode: difference;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.linksbottom1 {
    position:relative;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin:0 auto;
    width:90%;
    height:5%;
    left:2%;
    Right:2%;
    bottom:-30%;
    z-index: 100;
    margin-top:10%;
    mix-blend-mode: difference;
}
.form {
    display:block;
    position: relative;
    z-index: 100;
    font-family: 'coolveticaregular';
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color:white;
    mix-blend-mode: difference;
    margin-top:10%;
}
.form:hover {
    mix-blend-mode: normal;
}
.form:focus{
    mix-blend-mode: normal;
}

.form1 {
    display:block;
    position: relative;
    z-index: 100;
    font-family: 'coolveticaregular';
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    top:20%;
    left:20%;

}
.aclass {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    width:fit-content;
    display: inline-flex;
    position: relative;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}

.aclass1 {
    z-index: 100;
    width:fit-content;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}

.aclass2 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:fit-content;
}

.aclass3 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:fit-content;
}

.aclass4 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:fit-content;
}
.aclass:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass1:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass2:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass3:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass4:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}




.aspire {
    position:relative;
    display: flex;
    width:100%;
    height:auto;
    margin-top:7%;
    mix-blend-mode:difference ;
    
}

.aspirediv {
    position:relative;
    display: flex;
    width:100%;
    height:auto;
    margin-top:7%;
    mix-blend-mode:difference ;
    
}
.aspire2 {
    position:relative;
    display: flex;
    width:80%;
    height:auto;
    left:10%;
    right: 10%;
    top:20%;
    mix-blend-mode:difference ;
}

.aspirebody{
    position:relative;
    display: block;
    width:100%;
    height:40%;
    margin-top:76%;
    z-index: 100;

}

.forgif {
    fill:white;
    position:relative;
    display: flex;
    width:100%;
    left:0%;
    right:0%;
    z-index: 100;
}

#aspirevid1 {
    width:35%;
    height:auto;
    display:inline-flex;
    position: relative;
}
#aspirevid2 {
    width:35%;
    height:auto;
    display:inline-flex;
    position: relative;
    margin-top:20%;
}
#aspirevid3 {
    width:100%;
    height:auto;
    display:inline-flex;
    position: relative;
    margin-top:-28%;
    mix-blend-mode: difference;
    bottom:0;
    margin-bottom:0;
}
#aspirevid4 {
    width:100%;
    height:auto;
    display:inline-flex;
    position: relative;
    mix-blend-mode: difference;
}
#aspirevid5 {

    display:none;
    position: none;

}
#aspirevid6 {

    display:none;
    position: none;

}
#aspirevid9{

    display:none;
    position: none;

}

.aspirediv {
    width:100%;
    height:100%;
    position:relative;
    display: block;
}

.aspiretext1 {
    font-family: 'coolveticaregular';
    font-size: 2vw;
    width:fit-content;
    height:50%;
    margin-top:10%;
    margin-left:10%;
    margin-right:20%;
    position:relative;
    display: inline-flex;
    color:white;
}
.aspiretext2 {
    font-family: 'coolveticaregular';
    font-size: 2vw;
    width:fit-content;
    height:50%;
    margin-top:10%;
    margin-right:10%;
    margin-left:20%;
    position:relative;
    display: inline-flex;
    color:white;
}

.aspiretext3 {
    font-family: 'coolveticaregular';
    font-size: 2vw;
    width:fit-content;
    height:50%;
    margin-top:-80%;
    margin-left:10%;
    margin-right:20%;
    position:relative;
    display: block;
    color:white;
}
.aspiretext4 {
    font-family: 'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:50%;
    margin-top:5%;
    margin-right:10%;
    margin-left:20%;
    position:relative;
    display:block;
    color:white;
}

.aspiretext5 {
    font-family: 'coolveticaregular';
    font-size: 2vw;
    width:fit-content;
    height:50%;
    margin-left:10%;
    margin-right:20%;
    position:relative;
    display: block;
    color:white;
    z-index: 100;
}
.aspiretext6 {
    font-family: 'coolveticaregular';
    font-size: 5vw;
    width:fit-content;
    height:50%;
    margin-top:0%;
    margin-right:10%;
    margin-left:20%;
    position:relative;
    display:block;
    color:white;
    z-index: 100;
}
.aspiretext4:hover {
    mix-blend-mode: difference;
}
a.colorask {
    color:white;
    margin-right:0%;
    display: flex;
    position: relative;
}
.colorask {
    color:white;
    margin-right:0%;
    right: 0%;
    display: flex;
    position: relative;
}


.hor2real2 {
    width:100%;
    height:auto;
    mix-blend-mode: difference;
    display: flex;
    position: relative;
    z-index: 100;
    top:10%;
    margin-top:0%;
}
.hor2real5 {
    width:100%;
    height:auto;
    mix-blend-mode: normal;
    display: flex;
    position: absolute;
    z-index: 100;
    top:0%;
    margin-top:0%;
}
.hor2real {
    width:100%;
    height:auto;
    display: flex;
    position: relative;
    z-index: 100;
    top:10%;
    margin-top:0%;
    mix-blend-mode: exclusion;
}
.albumart {
    width:100%;
    position:relative;
    display:block;
}