@font-face {
    font-family: 'Digitalix';
    src: url('Digitalix.woff2') format('woff2'),
        url('Digitalix.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

