@font-face {
    font-family: 'Old English Text MT';
    src: url('OldEnglishTextMT.woff2') format('woff2'),
        url('OldEnglishTextMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    padding:0%;
    margin:0%;
}

.header {
    width:20%;
    height:20%;
    background-color: transparent;
    margin: 4% auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position:relative;
    display:block;
    font-size: large;
    font-family: 'incredible_soupsregular';
    border-radius: 100%;
    top:5%;
    z-index: 100;
}

.bounce {
    font-family: 'incredible_soupsregular';
    color:black;
}

#background {
    width: 100%;
    position: relative;
    display: block;
    margin-top: 0%;
    padding:0%;
    z-index: 0;
    left:0;
    top:0;
    bottom:0;
}
#background3 {
    width: 100%;
    max-height:100vh;
    position: relative;
    display: flex;
    margin-top: 0%;
    padding:0%;
    z-index: 0;
    left:0;
    top:0;
    bottom:0;
}

#background2 {
    width: 100%;
    position: relative;
    display: flex;
    margin:0 auto;
    padding:0%;
    z-index: 0;
    left:0;
    top:0;
    bottom:0;
    z-index: 0;
}

.backdiv {
    position:absolute;
    display: block;
    width: 100%;
    height:400%;
    padding:0%;
    margin:0%;
    left:0%;
    top:0%;
}

.backdiv2 {
    position:absolute;
    display: block;
    width: 100%;
    height:fit-content;
    padding:0%;
    margin:0%;
    left:0%;
    top:0%;
    bottom:0%;
}


.shirt {
    position:absolute;
    display: block;
    width:50%;
    margin:0;
    top:25%;
    cursor: pointer;
    z-index: 100;
}

.shirt:hover {
    opacity:0.6;

}

.shirt2 {
    position:absolute;
    display:block;
    width:50%;
    left:50%;
    top:25%;
    cursor: pointer;
    z-index: 100;
}

.shirt2:hover {
    opacity:0.6;

}
.hiddentext1:hover {
    opacity:1;

}

.hiddentext1 {
    font-family: 'Old English Text MT';
    color:white;
    top:70%;
    bottom:60%;
    position:relative;
    display:flex; 
    z-index: 1;
    left:16%;
    opacity:1;
    font-size: x-large;
}

.comingsoon {
    width:30%;
    height:10%;
    position:absolute;
    display:block;
    background-color: transparent;
    top:25%;
    right:5%;
    border-color: white;
    border-style: solid;
    border-width: .25vw;
    font-family: 'Old English Text MT';
    color:whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding:1%;
    top:50%;
}
.comingsoon:hover{
    background-color: rgb(0, 0, 114);
    border-color: rgb(0, 2, 31);
    transition-duration: 0.5s;
}

.text1{
    font-family: 'Old English Text MT';
    font-size:6vw;
    width: 35%;
    left:20%;
    position: absolute;
    display: block;
    color:white;
    top:65%;
}

.text2{
    font-family: 'Old English Text MT';
    left:48%;
    top:50%;
    position: absolute;
    display: block;
    color: white;
    fill: white;
    font-size:8vw;
}

#myVideo {
    width: 30%;
    z-index: 100;
    display: flex;
    position: absolute;
    top:60%;
    left:15%;
    mix-blend-mode: difference;
  }

  #myVideo1 {
    width: 30%;
    z-index: 100;
    display: flex;
    position: absolute;
    top:65%;
    left:20%;
    mix-blend-mode: difference;
  }


  #myVideo2 {
    width: 30%;
    z-index: 100;
    display: flex;
    position: absolute;
    top:70%;
    left:25%;
    mix-blend-mode: difference;
  }
  #myVideo3 {
    width: 30%;
    z-index: 100;
    display: flex;
    position: absolute;
    top:40%;
    right:15%;
    mix-blend-mode: difference;
  }

  #myVideo4 {
    width: 30%;
    z-index: 100;
    display: flex;
    position: absolute;
    top:45%;
    right:20%;
    mix-blend-mode: difference;
  }


  #myVideo5 {
    width: 30%;
    z-index: 100;
    display: flex;
    position: absolute;
    top:50%;
    right:25%;
    mix-blend-mode: difference;
  }



.universal {
    z-index: 100;
    width:5%;
    display:flex;
    position: absolute;
    top:15%;
    left:5%;
    mix-blend-mode: overlay;
}
.universal:hover {
    mix-blend-mode: normal;
}
.linksbottom {
    position:absolute;
    display:block;
    padding:0%;
    margin:0%;
    bottom:-50%;
    width:100%;
    left:2%;
    Right:2%;
}
.aclass {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
}

.aclass1 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
}

.aclass2 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
}

.aclass3 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
}

.aclass4 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
}
a:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.primo {
    fill: azure;
    top:0;
}

.primo:hover {
    opacity:0.6;
    transition-duration: 0.5s;
    cursor: pointer;
}
.primo2 {
    fill: rgb(0, 0, 0);
    top:0;
}

.primo2:hover {
    opacity:0.6;
    transition-duration: 0.5s;
    cursor: pointer;
}

.tab {
    font-size: large;
    font-family: 'incredible_soupsregular';
    color:rgb(255, 255, 255);
    font-size: 1vw;
    margin-top:0%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    text-decoration: none;
    transition-duration: 2s;
    position: relative;
    display: inline-flex;
    padding:1%;
    z-index: 7;
}
.tab:hover {
    color:rgb(187, 187, 187);
    transition-duration: 0.5s;
    text-shadow: 25%;
    box-shadow: 25%;
    outline-style: solid;
    outline-color: rgb(0, 0, 0);
}

.a {
    width:80%;
    padding:5%;
}


@media screen and (max-width: 450px) {
    #background {
      width:100%;
    }
  }



.alexia2 {
    width:80%;
    height:80%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    position: relative;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    margin-bottom: 2%;
    z-index: 100;
}

@media screen and (min-width: 580px) {
    #background{
        max-height:100%;
     }
   
  }

.alexia3 {
    width:80%;
    height:80vh;
    background-color: transparent;
    border:1vw dashed;
    border-color: rgb(219, 247, 255);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    position: relative;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    z-index: 100;
}

.image1 {
    width: 30%;
    position:absolute;
    display:inline-flex;
    margin-right:30%;
    justify-content: right;
    align-items: center;
    margin:0 auto;
    text-align: right;
    z-index: 100;
    margin-left:10%;
}

.playing {
    font-family: 'Old English Text MT';
    font-size: 5vw;
    width:125%;
    color: rgb(255, 255, 255);
    position:absolute;
    display: block;
    left:35%;
    top:0%;
}
.playing2 {
    font-family: 'Old English Text MT';
    font-size: 3vw;
    color: white;
    position:absolute;
    display: block;
    left:35%;
    margin-top:12%;
}
.playing3 {
    font-family: 'Old English Text MT';
    font-size: 2vw;
    color: rgb(255, 255, 255);
    position:absolute;
    display: block;
    left:35%;
    margin-top:22%;
}
.audio1 {
    width:20vw;
    height:2vh;
    position:relative;
    display: block;
    left:100%;
    top:23vh;
    padding:3%;
}
.audio2 {
    width:20vw;
    height:2vh;
    font-size: x-small;
    position:absolute;
    display:block;
    top:400%;
    left:100%;
    padding:3%;
}
.playing4 {
    font-family: 'Old English Text MT';
    font-size: 2vw;
    color: rgb(255, 255, 255);
    position:absolute;
    display: block;
    left:35%;
    margin-top:25%;
}
.titles {
    position:relative;
    display: block;
    margin-left:25%;
    top:50%;
    width:50%;
}
.image1:hover {
    opacity:0.6;
    transition-duration: 0.5s;
}
#image1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    max-width: 80%;
    position:relative;
    display:flex;
}

h3 {
    position:relative;
    display: block;
    font-family: 'incredible_soupsregular';
    color:whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top:0%;
    padding-left:3%;
    padding-bottom:3%;
    margin:0 auto;
    font-size: xx-large;
    z-index: 100;
}

.shop1 {
    position: absolute;
    display: block;
    width: 100%;
}

.shop1:hover {
    opacity:1;
}
.linksbottom {
    position:relative;
    display:block;
    padding:0%;
    margin:0%;
    margin-bottom:5%;
    width:100%;
    height:10%;
    left:2%;
    Right:2%;
    bottom:-20%;
    z-index: 100;
    mix-blend-mode: exclusion;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.linksbottom1 {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    margin:0 auto;
    width:90%;
    height:auto;
    left:2%;
    Right:2%;
    bottom:-280%;
    margin-bottom:0%;
    z-index: 100;
    mix-blend-mode: difference;
}
.linksbottom12 {
    position:absolute;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0%;
    top: 32%;
    left:20%;
    margin-top: 150%;
    z-index: 100;
    mix-blend-mode: difference;
}

.aclass {
    z-index: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    width:fit-content;
    display: inline-flex;
    position: relative;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}

.aclass1 {
    z-index: 100;
    width:fit-content;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
}

.aclass2 {
    z-index: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:fit-content;
}

.aclass3 {
    z-index: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:fit-content;
}
.text12 {
    font-family: 'incredible_soupsregular';
    width:90%;
    font-size: 3vw;
    color:white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .1vw;
}
.text123 {
    font-family: 'incredible_soupsregular';
    width:90%;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
}
.music {
    width:100%;
    display:block;
    position: absolute;
    left:0;
    top:0;
    z-index: -5;
}
.text1232 {
    font-family: 'incredible_soupsregular';
    width:90%;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
}

.aclass4 {
    z-index: 100;
    text-align: center;
    color: aliceblue;
    font-size: 1vw;
    display: inline-flex;
    position: relative;
    margin-bottom:3%;
    padding:3%;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: 'coolveticaregular';
    width:fit-content;
}
.audio1 {
    background-color: transparent;
    background: none;
    

}
.aclass:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass1:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}
.aclass2:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass3:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

.aclass4:hover {
    mix-blend-mode: normal;
    color: rgb(168, 168, 168);
    transition-duration: 0.5s;
}

