@font-face {
    font-family: 'incredible_soupsregular';
    src: url('incredible-soups-webfont.woff2') format('woff2'),
         url('incredible-soups-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.header {
    width:30%;
    height:20%;
    background-color: transparent;
    margin: 5% auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position:relative;
    display:block;
    font-size: large;
    font-family: 'incredible_soupsregular';
    border-radius: 100%;
    top:20%;
    z-index: 100;
}

.bounce {
    font-family: 'incredible_soupsregular';
    color:black;
}

#background {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    display: block;
    margin:0 auto;
    padding:0%;
    z-index: 1;
    left:0;
    top:0;
    bottom:0;
}

.primo {
    fill: azure;
}
.tab {
    font-size: large;
    font-family: 'incredible_soupsregular';
    color:rgb(255, 255, 255);
    font-size: 1vw;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:2%;
    text-decoration: none;
    transition-duration: 2s;
    position: relative;
    display: inline-flex;
    padding:1%;
    z-index: 100;
}
.tab:hover {
    color:rgb(187, 187, 187);
    transition-duration: 0.5s;
    text-shadow: 25%;
    box-shadow: 25%;
    outline-style: solid;
    outline-color: rgb(0, 0, 0);
}

.a {
    width:80%;
    padding:5%;
}


@media screen and (max-width: 450px) {
    #background {
      width:100%;
    }
  }



.alexia2 {
    width:80%;
    height:80%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    position: relative;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    margin-bottom: 2%;
    z-index: 100;
}

.alexia3 {
    width:80%;
    height:80vh;
    background-color: transparent;
    border:1vw dashed;
    border-color: rgb(219, 247, 255);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    position: relative;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    z-index: 100;
}

.image1 {
    width: 30%;
    position:relative;
    display:flex;
    margin-right:0%;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    text-align: end;
    z-index: 100;

}
#image1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    max-width: 80%;
    position:relative;
    display:flex;
}


.text1 {
    position:relative;
    display: flex;
    color:whitesmoke;
    top:0vh;
    padding:3%;
    font-size: xxx-large;
    right:0%;
    z-index: 100;
    font-weight: 100;
}
.text2 {
    position:relative;
    display: flex;
    font-weight: 50;
    color:rgb(0, 0, 0);
    top:0vh;
    padding:3%;
    top:15%;
    font-size: xx-large;
    right:0%;
    z-index: 100;
}

h3 {
    position:relative;
    display: block;
    font-family: 'incredible_soupsregular';
    color:whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top:0%;
    padding-left:3%;
    padding-bottom:3%;
    margin:0 auto;
    font-size: xx-large;
    z-index: 100;
}