@font-face {
    font-family: 'Old English Text MT';
    src: url('OldEnglishTextMT.woff2') format('woff2'),
        url('OldEnglishTextMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

